
.Spielregel_Bild{
    max-width: 512px;
    max-height: 300px;

}

.Spielregeln_container{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Spielregeln_text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
}

.Titel{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Spielfeld{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Spielerseite {

    width: 40% ;
    height: 250px;
    


}

.Spielerseite_Bilder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.Computerseite{

    width: 40% ;
    height: 100px;
    
}

.SpielerSymbole{

    width: 100%;
    height: 100px;
}

.ComputerSymbole{
    width: 20%;
    height: 100px;
    
}

.Computer_Bilder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#EndMessage{

    font-weight: 700;
    font-size: 50px;

}
body, html {
    height: 80%;
    margin: 0;
  }
  
.parallax {
    /* The image used */
    background-image: url(../img/the-big-bang-theory-living-room.jpg);
  
    /* Full height */
    height: 80%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }




